@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.success {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    &--visible {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        background-color: $background;
        border-radius: $radius-lg-desktop;
        padding: $spacing-lg-desktop;
        width: 100%;
        max-width: 480px;
        text-align: center;
        transform: scale(0.9);
        transition: transform 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;

        .success--visible & {
            transform: scale(1);
        }
    }

    &__icon {
        width: 64px;
        height: 64px;
        background-color: $success-1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $spacing-lg-desktop;

        svg {
            width: 40px;
            height: 40px;
            color: $text-inverse;
        }
    }

    &__title {
        @include headline;
        font-size: $heading-3-desktop;
        color: $text-default;
        margin-bottom: $spacing-xs-desktop;
    }

    &__text {
        font-size: $text-md-desktop;
        color: $text-default;
        margin-bottom: $spacing-xxl-desktop;
				max-width: 384px;
    }

    &__button {
        width: 100%;
    }
}
