@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
	background-color: $surface;
	padding-top: $spacing-xxl-desktop;
	padding-bottom: $spacing-xxxl-desktop;

	&__container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: $spacing-md-desktop;
	}

	&__note {
		font-size: $text-md-desktop;
		color: $text-medium;
		max-width: 800px;
		text-align: left;
	}

	&__pd {
		font-size: $text-md-desktop;
		color: $text-medium;
		transition: color 0.2s ease;
		white-space: nowrap;

		&:hover {
			color: darken($text-medium, 10%);
		}
	}
}