@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.address {
	background-image: url('/image/payments/Subtract.png');
	background-size: 100% auto;
	background-position: top;
	background-repeat: no-repeat;
	padding-top: 246px;

	&__content {
		padding: $spacing-none-desktop $spacing-xxxl-desktop;
		background-color: $surface;
		display: flex;
		flex-direction: column;
		gap: $spacing-xxl-desktop;
	}

	&__title {
		color: $text-default;
		font-size: $heading-2-desktop;
		margin: 0;
	}

	&__choose-region {
		display: flex;
		gap: $spacing-xs-desktop;
		flex-wrap: wrap;
	}

	&__region {
		padding: $spacing-sm-desktop $spacing-md-desktop;
	}

	&__map {
		display: flex;
		height: 588px;
		border-radius: $radius-lg-desktop;
		overflow: hidden;
		background-color: $sub;
	}

	&__points {
		width: 27%;
		background-color: $text-default;
		height: 100%;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: $spacing-xxxs-desktop;
		}

		&::-webkit-scrollbar-track {
			background: rgba($text-inverse, 0.1);
		}

		&::-webkit-scrollbar-thumb {
			background: rgba($text-inverse, 0.3);
			border-radius: $spacing-xxxs-desktop;
		}

		&-list {
			list-style: none;
			padding: $spacing-none-desktop;
			margin: $spacing-none-desktop;
		}
	}

	&__point {
		padding: $spacing-md-desktop;
		border-top: 1px solid rgba($background, 0.2);
		border-bottom: 1px solid rgba($background, 0.2);
		cursor: pointer;
		transition: background-color 0.2s;
		display: flex;
		flex-direction: column;
		gap: $spacing-xxs-desktop;

		&+& {
			border-top: none;
		}

		&:hover,
		&.active {
			background-color: rgba($background, 0.2);
		}

		.point {
			&__title {
				color: $text-inverse;
				font-size: $heading-6-desktop;
				margin: 0;
				@include headline;
			}

			&__description {
				color: rgba($text-inverse, 0.6);
				font-size: $text-md-desktop;
				margin: 0;
			}

			&__phone {
				color: $text-inverse;
				font-size: $button-desktop;
				text-decoration: none;
				@include headline;
				display: block;
				margin-top: $spacing-lg-desktop;
			}

			&__opening-hours {
				color: $text-inverse;
				font-size: $text-md-desktop;
			}

			&__hours {
				color: $text-inverse;
			}
		}
	}

	&__map-display {
		flex-grow: 1;
		background-color: #ddd;
		filter: grayscale(100%) brightness(105%) contrast(90%);

		font-family: inherit;
	}
}