@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.guarantees {
	background: linear-gradient($surface, $background);
	padding: 0 $spacing-xxxl-desktop 85px;

	&__title {
		@include headline;
		font-size: $heading-2-desktop;
		color: $text-default;
		margin-bottom: $spacing-xxl-desktop;
	}

	&__container {
		display: flex;
		gap: 20px;
	}

	&__block {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	&__block img {
		width: 100%;
		height: auto;
		border-radius: $radius-md-desktop;
		object-fit: cover;
	}

	& h4 {
		@include headline;
		font-size: $heading-4-desktop;
		color: $text-default;
		margin-top: 32px;
		margin-bottom: 24px;
	}

	& ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
	}

	& li {
		display: flex;
		flex-direction: column;
		gap: 6px;
		padding-bottom: 16px;
		margin-bottom: 16px;
		border-bottom: 1px solid $borders;

		&:last-child {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

	& li p {
		font-size: $text-md-desktop;
		color: $text-default;
	}

	& li span {
		font-size: $text-sm-desktop;
		color: $text-medium;
	}
}