@use "../abstracts/variables" as *;

.requirements {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);

		width: 100vw;
		height: 246px;

		background: url('../../image/requirements/Subtract.png') center / cover no-repeat;
		pointer-events: none;
	}

	&__title {
		color: $text-default;
		font-size: $heading-2-desktop;
		margin: 100px $spacing-xxxl-desktop $spacing-xxxl-desktop;
	}

	&__content {
		padding: $spacing-none-desktop $spacing-xxxl-desktop 346px;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(2, auto);
		gap: $spacing-lg-desktop;
	}

	&__block {
		position: relative;
		background-color: $surface;
		border-radius: $radius-lg-desktop;
		min-height: 298px;
		padding: $spacing-lg-desktop;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		& h4 {
			color: $text-default;
			font-size: $heading-6-desktop;
		}

		&:nth-child(-n + 3) {
			.requirements__block-img-container {
				width: 56px;
				height: 56px;
				background-color: $background;
				border-radius: $radius-xs-desktop;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: auto;
			}

			.requirements__block-img {
				width: $spacing-lg-desktop;
				height: $spacing-lg-desktop;
			}
		}

		&:nth-child(4) {
			grid-column: 4 / 6;


			p {
				color: $text-medium;
				font-size: $text-md-desktop;
				max-width: 377px;
			}
		}

		&:nth-child(5) {
			grid-column: 1 / 6;
			grid-row: 2;

			.requirements__conditions {
				max-width: 60%;
				display: flex;
				flex-direction: column;
				gap: $spacing-lg-desktop;
			}

			.requirements__block p {
				color: $text-default;
				font-size: $text-md-desktop;
			}

			.requirements__conditions ul {
				list-style-type: square;
				margin-left: $spacing-sm-desktop;
				color: $text-default;
				font-size: $text-md-desktop;
				margin-bottom: 6px;
				display: flex;
				flex-direction: column;
				gap: 10px;

				li::marker {
					color: $primary;
				}
			}

			.requirements__conditions-img {
				position: absolute;
				bottom: 0;
				right: 61px;
				pointer-events: none;
			}
		}
	}
}