@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.sticker {
	margin: 100px auto;

	&__content {
		padding: $spacing-xl-desktop;
		background-color: $primary;
		background-image: url('../../image/sticker/sticker-background.webp');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: $radius-lg-desktop;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: $spacing-xxxl-desktop;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: $spacing-sm-desktop;
		max-width: 700px;
	}

	&__text h3 {
		@include headline;
		font-size: $heading-4-desktop;
		color: $text-inverse;
	}

	&__text p {
		font-size: $text-md-desktop;
		color: $text-inverse;
	}

	&__cta {
		flex-shrink: 0;
	}
}