@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.vacancies {
	position: relative;
	background-image: url('../../image/vacancies/background.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 40px $spacing-xxxl-desktop 306px;
	color: $text-inverse;
	overflow: hidden;

	#positions-list li {
		display: none;
	}

	#positions-list li.empty {
		display: flex;
	}

	&[data-division] {
		#positions-list li.empty {
			display: none;
		}
	}

	&[data-division="motorized"] #positions-list li[data-division-id="motorized"] {
		display: flex;
	}

	&[data-division="tank"] #positions-list li[data-division-id="tank"] {
		display: flex;
	}

	&[data-division="howitzer"] #positions-list li[data-division-id="howitzer"] {
		display: flex;
	}

	&[data-division="atgm"] #positions-list li[data-division-id="atgm"] {
		display: flex;
	}

	&[data-division="mlrs"] #positions-list li[data-division-id="mlrs"] {
		display: flex;
	}

	&[data-division="antiair"] #positions-list li[data-division-id="antiair"] {
		display: flex;
	}

	&[data-division="recon"] #positions-list li[data-division-id="recon"] {
		display: flex;
	}

	&[data-division="repair"] #positions-list li[data-division-id="repair"] {
		display: flex;
	}

	&[data-division="engineer"] #positions-list li[data-division-id="engineer"] {
		display: flex;
	}

	&[data-division="command"] #positions-list li[data-division-id="command"] {
		display: flex;
	}

	&[data-division="material"] #positions-list li[data-division-id="material"] {
		display: flex;
	}

	&[data-division="radio"] #positions-list li[data-division-id="radio"] {
		display: flex;
	}

	&[data-division="fpv"] #positions-list li[data-division-id="fpv"] {
		display: flex;
	}

	&[data-division="minomet"] #positions-list li[data-division-id="minomet"] {
		display: flex;
	}

	&[data-mode="desktop"] {
		.vacancies__content-item {
			display: flex;
		}
	}

	&__title {
		@include headline;
		max-width: 670px;
		font-size: $heading-2-desktop;
		color: $text-default;
		margin-bottom: 537px;
	}

	&__content {
		display: flex;
		gap: $spacing-sm-desktop;
		height: 553px;

		&-header--form {
			display: flex;
			gap: $spacing-md-desktop;
			align-items: center;
		}
	}

	&__content-item {
		min-width: 0;
		width: calc((100% - $spacing-xxl-desktop) / 3);
		height: 100%;
		display: flex;
		flex-direction: column;

		&--list {
			h5 {
				@include headline;
				font-size: $heading-5-desktop;
				color: $text-inverse;
			}

			ul {
				list-style: none;
				padding: 0;
				margin-top: $spacing-lg-desktop;
				overflow-y: auto;
				scrollbar-gutter: stable;
				padding-right: 16px;
				position: relative;
				mask-image: linear-gradient(to bottom,
						transparent 0%,
						black 10%,
						black 90%,
						transparent 100%);
				-webkit-mask-image: linear-gradient(to bottom,
						transparent 0%,
						black 1%,
						black 90%,
						transparent 100%);

				&::-webkit-scrollbar {
					width: $spacing-xxxs-desktop;
				}

				&::-webkit-scrollbar-track {
					background: $text-medium;
				}

				&::-webkit-scrollbar-thumb {
					background: $background;
					border-radius: $radius-max-desktop;
				}
			}

			li {
				font-size: $text-md-desktop;
				padding: $spacing-sm-desktop;
				border-bottom: 1px solid $text-medium;
				color: $text-inverse;
				display: flex;
				align-items: center;
				gap: $spacing-xxs-desktop;
				cursor: pointer;
				transition: all 0.2s ease;

				&:hover {
					background-color: $primary;
					border-radius: $radius-xs-desktop;
					font-weight: 400;
					letter-spacing: 0;
					line-height: 100%;
				}

				&.active {
					background-color: $primary;
					border-radius: $radius-xs-desktop;
					font-weight: 400;
					letter-spacing: 0;
					line-height: 100%;
				}

				&.empty {
					color: $text-medium;
					cursor: default;

					&:hover {
						background-color: transparent;
					}
				}

				&:last-child {
					border-bottom: none;
				}
			}

			li img {
				width: 22px;
				height: 22px;
			}
		}

		&--form {
			background-color: $background;
			border-radius: $spacing-lg-desktop;
			padding: $spacing-lg-desktop;
			color: $text-default;
			overflow-y: auto;

			.vacancies__content-title--form {
				@include headline;
				font-size: $heading-3-desktop;
				margin-bottom: $spacing-xs-desktop;
				color: $text-default;
			}

			.vacancies__content-text--form {
				font-size: $text-md-desktop;
				margin-bottom: 24px;
				color: $text-default;
			}
		}
	}

	&__user-choice {
		display: flex;
		gap: $spacing-xxxl-desktop;
		margin-bottom: $spacing-lg-desktop;

		&-item {
			display: flex;
			flex-direction: column;
			gap: $spacing-xxxs-desktop;
		}

		&-title {
			font-size: $text-md-desktop;
			color: $text-medium;
			font-weight: 400;
		}

		&-text {
			font-size: $text-md-desktop;
			color: $text-default;
		}
	}

	&__request {
		display: flex;
		flex-direction: column;
		gap: $spacing-sm-desktop;
		margin-bottom: $spacing-lg-desktop;

		.request__field {
			display: flex;
			flex-direction: column;
			gap: $spacing-xxs-desktop;
			background-color: $surface;
			border-radius: $radius-xs-desktop;
			padding: $spacing-xs-desktop $spacing-sm-desktop;

			label {
				font-size: $text-sm-desktop;
				color: $text-medium;
			}

			.request__input {
				border: none;
				background: transparent;
				font-size: $text-md-desktop;
				color: $text-default;
				padding: 0;
				outline: none;

				&::placeholder {
					color: $text-default;
				}
			}
		}

		.request__submit {
			width: 100%;
		}
	}

	&__pd {
		display: flex;
		align-items: center;
		gap: $spacing-xs-desktop;

		&-checkbox {
			accent-color: $text-default;
			width: $spacing-lg-desktop;
			height: $spacing-lg-desktop;
		}

		label {
			font-size: $text-sm-desktop;
			color: $text-default;
			cursor: pointer;
		}
	}

	&__back-button {
		display: none;
	}
}