@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	font-family: 'Golos Text', sans-serif;
	font-weight: 400;
	font-size: $text-md-desktop;
	color: $text-default;
	background-color: $background;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

body.is-menu-open,
body.is-locked {
	overflow: hidden;
}

.main {
	flex: 1 0 auto;
}

#stages,
#payments,
#vacancies,
#requirements,
#training,
#faq {
	scroll-margin-top: 72px;
}

#address {
	scroll-margin-top: -174px;
}

.footer {
	flex: 0 0 auto;
}

// Типографика
h1,
h2,
h3,
h4,
h5,
h6 {
	@include headline;
	color: $text-default;
}

h1 {
	font-size: $heading-1-desktop;
}

h2 {
	font-size: $heading-2-desktop;
}

h3 {
	font-size: $heading-3-desktop;
}

h4 {
	font-size: $heading-4-desktop;
}

h5 {
	font-size: $heading-5-desktop;
}

h6 {
	font-size: $heading-6-desktop;
}

::selection {
	background: $primary;
	color: $text-inverse;
}

input:focus::placeholder,
textarea:focus::placeholder {
	color: transparent;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	color: transparent;
}

input::placeholder,
textarea::placeholder {
	color: #0c1625;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}