/* golos-text-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 400;
  src: url('../../../fonts/golos-text-v7-cyrillic_latin-regular.woff2') format('woff2');
}
/* golos-text-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 500;
  src: url('../../../fonts/golos-text-v7-cyrillic_latin-500.woff2') format('woff2');
}